---
title: "Aerospace Engineer"
layout: splash
header:
  overlay_image: /assets/images/longhornsq2.jpg
excerpt: 'Firmware Development & Implementation'
intro:
  - excerpt: "Heres my intro summary! please check my about page."
feature_row:
  - image_path: assets/images/dcusa.png
    alt: "placeholder image 1"
    title: "R&D Engineering Intern"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url : "/blog/post-standard/"
	btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/utsvt.png
    image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "placeholder image 2"
    title: "Battery Protection System Team"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/blog/post-modified/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/bio-photo1.jpg
    title: "Computations Team"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url : "/blog/post-standard/"
	btn_label: "Read More"
    btn_class: "btn--primary"
	---

{% include feature_row id="intro" type="center" %}


{% include feature_row %}