---
title: "Aerospace Engineer"
layout: splash
header:
  overlay_image: /assets/images/longhornsq2.jpg
excerpt: 'Firmware Development & Implementation'
intro:
  - excerpt: "Please explore the following links, as well as the contents of the Posts tab to learn more about my past experiences. I am excited to be graduating in December of 2020, and am ready to begin developing professionally!"
feature_row:
  - image_path: /assets/images/dcusa.png
    image_caption: "[Door Controls USA](https://doorcontrolsusa.com/)"
    alt: "placeholder image 2"
    title: "R&D Engineering Intern"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/blog/post-standard/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/tarthb.png
    image_caption: "[TAR](https://www.texasaerialrobotics.com/)"
    alt: "placeholder image 2"
    title: "Computations Team"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/blog/post-standard/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/utsvt.png
    image_caption: "[UTSVT](https://www.longhornracing.org/solar-vehicle/)"
    alt: "placeholder image 2"
    title: "Battery Protection System"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "/blog/post-modified/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}