---
title: "Aerospace Engineer"
layout: splash
header:
  overlay_image: /assets/images/longhornsq2.jpg
  image_caption: "[Texas Aerospace](https://www.ae.utexas.edu/)"
  actions:
    - label: "About Me"
      url: "/about/"
excerpt: 'Firmware Development & Implementation'
intro:
  - excerpt: "Intrested in embedded systems for IoT and aeronautical applications.  \nReview my posts to see why I am ready to apply my background in programming and engineering mechanics to contribute to your team's goals!"
feature_row:
  - image_path: /assets/images/dcusa.png
    image_caption: "[Door Controls USA](https://doorcontrolsusa.com/)"
    alt: "DC USA"
    title: "R&D Engineering Intern"
    excerpt: "Internship designing hardware and software solutions for full scale implementation."
    url: "/blog/post-standard/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/tarthb.png
    image_caption: "[TAR](https://www.texasaerialrobotics.com/)"
    alt: "TAR"
    title: "Computations Team"
    excerpt: "Writing high level tooling for autonomous drone software."
    url: "/blog/post-standard/"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/utsvt.png
    image_caption: "[UTSVT](https://www.longhornracing.org/solar-vehicle/)"
    alt: "UTSVT"
    title: "Battery Protection System"
    excerpt: "Firmware development for the *BeVolt* solar car's internal battery management controller."
    url: "/blog/post-modified/"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}